@import url(/fonts/epf/stylesheet.css);
@font-face {
    font-family: 'lets_go_digital';
    src: url('/resources/font/lets_go_digital_regular-webfont.woff2{{{ns}}}') format('woff2'),
         url('/resources/font/lets_go_digital_regular-webfont.woff{{{ns}}}') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* = CONTAINER
================================================ */
.tal-noise-maker{{{cns}}} {
  background-image: url(/resources/tal_noise_maker_bg.png{{{ns}}});
  background-position: center center;
    background-repeat: no-repeat;
    background-color: #C6BEA3;
    height: 728px;
    position: absolute;
    width: 819px;
}

/* PORTS
================================================ */

.tal-noise-maker{{{cns}}} .mod-pedal-input {
  top: 274px;
}

.tal-noise-maker{{{cns}}} .mod-pedal-output {
  top: 240px;
}

/* = KNOBS
================================================ */
.tal-noise-maker{{{cns}}} .mod-control-group {
  margin: 20px !important;
  position: relative;
  text-align: center;
  z-index: 30;
}

/* .tal-noise-maker{{{cns}}} .mod-control-group .mod-knob {
  overflow: hidden;
  position: relative;
} */

/* = ENUMERATED LIST
================================================ */
.tal-noise-maker{{{cns}}} .mod-enumerated {
  font-family: "epflul" !important;
  font-style: normal;
  width: 60px;
  position: absolute;
  color: #626262;
  font-size: 10px;
  cursor: pointer;
  padding: 5px;
  z-index: 21;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
}

.tal-noise-maker{{{cns}}} .mod-enumerated.tal-noise-maker-lfo1destination,
.tal-noise-maker{{{cns}}} .mod-enumerated.tal-noise-maker-lfo2destination {
  top: 96px;
  left: 64px;
}

.tal-noise-maker{{{cns}}} .mod-enumerated.tal-noise-maker-osc1waveform {
  top: 163px;
  left: 35px;
}

.tal-noise-maker{{{cns}}} .mod-enumerated.tal-noise-maker-osc2waveform {
  top: 163px;
  left: 32px;
}

.tal-noise-maker{{{cns}}} .mod-enumerated.tal-noise-maker-freeaddestination {
  top: 28px;
  left: 187px;
}

.tal-noise-maker{{{cns}}} .mod-enumerated.tal-noise-maker-portamentomode {
  top: 95px;
  left: 184px;
}

.tal-noise-maker{{{cns}}} .mod-enumerated.tal-noise-maker-filtertype {
  top: -18px;
  left: 58px;
}

.tal-noise-maker{{{cns}}} .mod-enumerated.tal-noise-maker-voices {
  top: 127px;
  left: 184px;
}


.tal-noise-maker{{{cns}}} .mod-enumerated .mod-enumerated-list {
	background-color: rgba(51, 51, 51, .8);
	border-radius: 4px;
	color: #f9f2df;
	display: none;
    position: absolute;
    bottom: 24px;
    width: 130px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 20px;
    line-height: 25px;
  
}

.tal-noise-maker{{{cns}}} .mod-enumerated .mod-enumerated-select,
.tal-noise-maker{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
	font-family: "epflul" !important;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* SLIDER
================================================ */

.tal-noise-maker{{{cns}}} .mod-slider {
  width: 70px;
  position: absolute;
}


.tal-noise-maker{{{cns}}} .mod-slider .mod-slider-image {
  background-image: url(/resources/tal_noise_maker_sprite_sheets/slider_70frames.png{{{ns}}});
  background-repeat: no-repeat;
  background-size: auto 100px;
  height: 100px;
  width: 100px;
}

.tal-noise-maker{{{cns}}} .mod-slider .mod-slider-image: hover {
  cursor: pointer;
}

/* = KNOBS
================================================ */

.tal-noise-maker{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
  background-image: url(/resources/tal_noise_maker_sprite_sheets/Knob_70frames.png{{{ns}}});
  background-repeat: no-repeat;
  background-size: auto 64px;
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.tal-noise-maker{{{cns}}} .mod-control-group .mod-knob.color .mod-knob-image {
  background-image: url(/resources/tal_noise_maker_sprite_sheets/Knob_color_70frames.png{{{ns}}});
}

.tal-noise-maker{{{cns}}} .mod-control-group .mod-knob.frames4 .mod-knob-image {
  background-image: url(/resources/tal_noise_maker_sprite_sheets/Knob_4frames.png{{{ns}}});
}

.tal-noise-maker{{{cns}}} .mod-control-group .mod-knob.color-frames49 .mod-knob-image {
  background-image: url(/resources/tal_noise_maker_sprite_sheets/Knob_color_49frames.png{{{ns}}});
}


.tal-noise-maker{{{cns}}} .mod-control-group .mod-knob {
  position: absolute;
  left: 0;
}

.tal-noise-maker{{{cns}}} .mod-control-group .mod-control-supgroup {
  position: relative;
}

/* = BUTTONS
================================================ */

.tal-noise-maker{{{cns}}} .mod-control-group .mod-noise-maker-button {
  position: absolute;
}

.tal-noise-maker{{{cns}}} .mod-control-group .mod-noise-maker-button .mod-button-image {
  background-image: url(/resources/tal_noise_maker_sprite_sheets/button.png{{{ns}}});
  background-repeat: no-repeat;
  height: 29px;
  width: 32px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .mod-noise-maker-button .mod-button-image.on {
  background-position: center right !important;
}

.tal-noise-maker{{{cns}}} .mod-control-group .mod-noise-maker-button .mod-button-image.off {
  background-position: center left !important;
}

/* = WAVEFORMS
================================================ */

.tal-noise-maker{{{cns}}} .mod-control-group .mod-waveform {
  position: absolute;
  top: 126px;
  left: 78px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .mod-waveform .mod-waveform-image {
  background-image: url(/resources/tal_noise_maker_sprite_sheets/rolet.png{{{ns}}});
  background-repeat: no-repeat;
  height: 29px;
  width: 30px;
}

/* LFO 1 */
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo1 {
  position: absolute;
  top: 50px;
  left: 30px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo1 .mod-knob.tal-noise-maker-lfo1rate {
  top: 0px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo1 .mod-knob.tal-noise-maker-lfo1amount {
  top: 70px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo1 .mod-knob.tal-noise-maker-lfo1phase {
  top: 136px;
}

/* LFO 2 */
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo2 {
  position: absolute;
  top: 308px;
  left: 30px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo2 .mod-knob.tal-noise-maker-lfo2rate {
  top: 0px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo2 .mod-knob.tal-noise-maker-lfo2amount {
  top: 70px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo2 .mod-knob.tal-noise-maker-lfo2phase {
  top: 136px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo1 .mod-noise-maker-button.tal-noise-maker-lfo1sync,
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo2 .mod-noise-maker-button.tal-noise-maker-lfo2sync {
  left: 77px;
  top: 29px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo1 .mod-noise-maker-button.tal-noise-maker-lfo1keytrigger,
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-lfo2 .mod-noise-maker-button.tal-noise-maker-lfo2keytrigger {
  left: 77px;
  top: 163px;
}

/* MASTER */

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-noise-maker-button.tal-noise-maker-oscsync {
  top: 95px;
  left: 18px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master {
  position: absolute;
  top: 50px;
  left: 496px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-osc1volume {
  top: 0px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-osc2volume {
  left: 61px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-osc3volume {
  left: 122px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-volume {
  left: 183px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-ringmodulation {
  top: 70px;
  left: 61px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-portamento {
  top: 70px;
  left: 122px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-oscmastertune {
  top: 138px;
  left: 0;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-transpose {
  left: 61px;
  top: 138px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-master .mod-knob.tal-noise-maker-oscbitcrusher {
  left: 122px;
  top: 138px;
}

/* OSC 1 */
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc1 {
  position: absolute;
  top: 50px;
  left: 181px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc1 .mod-knob.tal-noise-maker-osc1tune {
  top: 0px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc1 .mod-knob.tal-noise-maker-osc1finetune {
  left: 61px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc1 .mod-knob.tal-noise-maker-osc1phase {
  top: 70px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc1 .mod-knob.tal-noise-maker-osc1pw {
  top: 70px;
  left: 61px;
}

/* OSC 2 */
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc2 {
  position: absolute;
  top: 50px;
  left: 338px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc2 .mod-knob.tal-noise-maker-osc2tune {
  top: 0px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc2 .mod-knob.tal-noise-maker-osc2finetune {
  left: 61px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc2 .mod-knob.tal-noise-maker-osc2phase {
  top: 70px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-osc2 .mod-knob.tal-noise-maker-osc2fm {
  top: 70px;
  left: 61px;
}

/* FILTER */
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter {
  position: absolute;
  top: 308px;
  left: 180px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-slider {
  top: 145px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-slider.tal-noise-maker-filterattack {
  left: 7px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-slider.tal-noise-maker-filterdecay {
  left: 67px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-slider.tal-noise-maker-filtersustain {
  left: 124px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-slider.tal-noise-maker-filterrelease {
  left: 183px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-amp .mod-slider.tal-noise-maker-ampattack {
  left: 25px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-amp .mod-slider.tal-noise-maker-ampdecay {
  left: 85px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-amp .mod-slider.tal-noise-maker-ampsustain {
  left: 142px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-amp .mod-slider.tal-noise-maker-amprelease {
  left: 201px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-knob.tal-noise-maker-cutoff {
  left: 0px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-knob.tal-noise-maker-resonance {
  left: 62px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-knob.tal-noise-maker-keyfollow {
  left: 159px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-filter .mod-knob.tal-noise-maker-filtercontour {
  left: 220px;
}

/* AUX ENV */

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-aux-env {
  position: absolute;
  top: 308px;
  left: 496px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-aux-env .mod-knob.tal-noise-maker-freeadattack {
  left: 0;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-aux-env .mod-knob.tal-noise-maker-freeaddecay {
  left: 62px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-aux-env .mod-knob.tal-noise-maker-freeadamount {
  left: 122px;
}

/* AMP */
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-amp {
  position: absolute;
  top: 452px;
  left: 448px;
}


.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev {
  position: absolute;
    top: 555px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-reverbwet {
  left: 20px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-reverbdecay {
  left: 75px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-reverbpredelay {
  left: 130px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-reverbhighcut {
  left: 185px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-reverblowcut {
  left: 240px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-velocityvolume {
  left: 325px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-velocitycontour {
  left: 380px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-velocitycutoff {
  left: 435px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-pitchwheelcutoff {
  left: 520px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-knob.tal-noise-maker-pitchwheelpitch {
  left: 575px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-noise-maker-button.tal-noise-maker-chorus1enable {
  left: 660px;
    top: 25px;
    margin-left: 15px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-rev .mod-noise-maker-button.tal-noise-maker-chorus2enable {
  left: 715px;
    top: 25px;
    margin-left: 15px;
}


.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay {
  position: absolute;
    top: 625px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-delaywet {
  left: 20px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-delaytime {
  left: 75px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-noise-maker-button.tal-noise-maker-delaysync {
  left: 130px;
  top: 24px;
  margin-left: 16px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-noise-maker-button.tal-noise-maker-delayfactorl {
  left: 170px;
  top: 24px;
  margin-left: 16px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-noise-maker-button.tal-noise-maker-delayfactorr {
  left: 200px;
  top: 24px;
  margin-left: 16px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-delayhighshelf {
  left: 240px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-delaylowshelf {
  left: 295px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-delayfeedback {
  left: 350px;
}

.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-highpass {
  left: 440px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-detune {
  left: 495px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-vintagenoise {
  left: 550px;
}
.tal-noise-maker{{{cns}}} .mod-control-group .tal-noise-maker-delay .mod-knob.tal-noise-maker-filterdrive {
  left: 605px;
}

.tal-noise-maker{{{cns}}} .mod-preset {
	background-color: #F5EFDC;
	
    position: absolute;
    top: 16px;
    left: 330px;
    width: 150px;
    height: 30px;
    z-index: 22;
}
.tal-noise-maker{{{cns}}} .mod-preset > select {
    background-color: #F5EFDC;
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: solid 2px #606060;
    font-size: 18px;
    color: #606060;
}
.tal-noise-maker{{{cns}}} .mod-preset > select > option {
	font-size: 20px;
	color:#606060;
}

.tal-noise-maker{{{cns}}} .value {
    font-family: 'lets_go_digital' !important;
    font-variant-numeric: tabular-nums !important;
	position: absolute;
    color: RGB(200, 60, 60);
    font-size: 82px;
	top: -90px;
    left: 610px;
}
